@import "./twemoji-awesome.less";

ui-chat {

  width: 100%;
  height: 500px;
  display: inline-block;
  border: 1px solid black;

  ::-webkit-scrollbar {
      width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: lightness(blue, 70%);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  	background: lightness(blue, 80%);
  }
  .ui-chat-main {
    width: 100%;
    height: 90%;
    top: 0px;
    left: 0px;
    border-left: 0px;
    border-right: 0px;
    .ui-chat-users-left {
      float: left;
      border: 0px solid black;
      border-right: 1px solid;
    }
    .ui-chat-users-right {
      float: right;
      border: 0px solid black;
      border-left: 1px solid;
      border-bottom: 0px solid;
    }
    .ui-chat-users{
      width: 20%;
      height: 100%;
      top: 0px;
      overflow-x: hidden;
      overflow-y: auto;
      @media only screen and (min-width: 768px) and (max-width: 950px) {
        width: 30%;
      }
      @media only screen and (max-width: 767px) {
        width: 100%;
        height: 35%;
        border-bottom: 1px solid;
        border-left: 0px solid;
      }
      .ui-chat-username{
        margin: 2px 5px;
        padding: 2px 5px;
        cursor: pointer;
        font-weight: bold;
        a{
          color: black;
          cursor: pointer;
        }
        a:hover,
        &:hover {
          cursor: pointer;
          background-color: lightness(blue, 50%);
        }
      }
    }
    .ui-chat-chat {
      width: 80%;
      height: 100%;
      top: 0px;
      overflow-x: hidden;
      overflow-y: auto;
      float: left;
      @media only screen and (min-width: 768px) and (max-width: 950px) {
        width: 70%;
      }
      @media only screen and (max-width: 767px) {
        width: 100%;
        height: 65%;
      }
      .ui-chat-message{
        padding: 1em;
        width: 100%;
        .ui-chat-message-user-image{
          height: 50px;
          width: 50px;
          margin: 10px;
        }
        .ui-chat-message-user-image.left{
          float: left;
        }
        .ui-chat-message-user-image.right{
          float: right;
        }
        .round-border {
          position:relative;
          padding:15px;
          border:1px solid black;
          color:#333;
          background:#fff;
          /* css3 */
          -webkit-border-radius:10px;
          -moz-border-radius:10px;
          border-radius:10px;
        }
        .triangle-border {
          position:relative;
          padding:15px;
          border:1px solid blue;
          color:#333;
          background:#fff;
          /* css3 */
          -webkit-border-radius:10px;
          -moz-border-radius:10px;
          border-radius:10px;
        }
        .triangle-border.left {
          margin-left:80px;
        }
        .triangle-border.right {
          margin-right:80px;
        }
        .triangle-border:before {
          content:"";
          position:absolute;
          bottom:-20px; /* value = - border-top-width - border-bottom-width */
          left:40px; /* controls horizontal position */
          border-width:20px 20px 0;
          border-style:solid;
          border-color:blue transparent;
          /* reduce the damage in FF3.0 */
          display:block;
          width:0;
        }
        .triangle-border:after {
          content:"";
          position:absolute;
          bottom:-13px; /* value = - border-top-width - border-bottom-width */
          left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
          border-width:13px 13px 0;
          border-style:solid;
          border-color:#fff transparent;
          /* reduce the damage in FF3.0 */
          display:block;
          width:0;
        }
        .triangle-border.left:before {
          top: 15px; /* controls vertical position */
          bottom: auto;
          left: -22px; /* value = - border-left-width - border-right-width */
          border-width: 10px 22px 10px 0;
          border-color: transparent blue;
        }
        .triangle-border.left:after {
          top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
          bottom:auto;
          left:-21px; /* value = - border-left-width - border-right-width */
          border-width:9px 21px 9px 0;
          border-color:transparent #fff;
        }
        .triangle-border.right:before {
          top:15px; /* controls vertical position */
          bottom:auto;
          left:auto;
          right:-22px; /* value = - border-left-width - border-right-width */
          border-width:10px 0 10px 22px;
          border-color:transparent blue;
        }
        .triangle-border.right:after {
          top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
          bottom:auto;
          left:auto;
          right:-21px; /* value = - border-left-width - border-right-width */
          border-width:9px 0 9px 21px;
          border-color:transparent #fff;
        }
        .ui-chat-message-inner-username{
          font-weight: bold;
        }
        .ui-chat-message-inner-message{

        }
      }
    }
  }

  .ui-chat-inputArea {
    width: 100%;
    height: 10%;
    min-height: 50px;
    bottom: 0px;
    display: inline-block;
    border: 0px solid black;
    border-top: 1px solid;
    border-: 1px solid;
    .chatInput {
      width: 100%;
      height: 100%;
      min-height: 50px;
      font-size: 125%;
      font-weight: bold;
      padding: 10px;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 1px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
  }
  .twa-my-emoticon{
    position: absolute;
    right: 15px;
    bottom: 10px;
    padding: 15px;
    background-image: url("https://twemoji.maxcdn.com/svg/1f603.svg");
    //large height
    height: 1.33em;
    width: 1.33em;
    margin: 0 0.0665em 0 0.133em;
    vertical-align: -0.133em;
    background-size: 1.33em 1.33em;
  }
}
